.calculator-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 90px;
  width: 150px;
  height: 150px;
  background-color: #a6b992;
  border: 5px solid #c2d4b1;
}

.input-output-field {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: end;
  padding: 15px;
  width: 250px;
  height: 15px;
  background-color: #ffffff;
  margin: 0;
  -webkit-appearance: none;
}

.input-output-field::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0
}

.number-container {
  position: fixed;
  top: 68%;
  left: 32.5%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
}

.number-container button {
  flex: 33.3333%;
  color: #000000;
  padding: 10px;
}

button:hover {
  cursor: pointer;
}

.functions-container {
  position: fixed;
  top: 68%;
  left: 81.5%;
  width: 109px;
  height: 200px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
}

.functions-container button {
  flex: 60%;
  color: #000000;
  padding: 10px;
}

.CE-container {
  position: relative;
  top: 1%;
  right: 4%;
  transform: translate(-50%, -50%)
}

.CE-button {
  padding: 18px;
  width: 195px;
  background-color: #dd2d00;
  color: white;
}

.equals-button {
  background-color: #49a109;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  color: #FFF;
  background-color: #232323;
  text-shadow: 
  0 0 5px #FFF, 
  0 0 10px #FFF, 
  0 0 15px #FFF
}